@import "./variable", "./mixin";

#about {
    position: relative;

    // Wave

    .top-wave {
        width: 100%;
        position: relative;
        height: 143px;
        top: 0;
        background: url("../images/about-top-wave.png");
        animation: topWaveMovement 10s linear infinite;

        &::before {
            @include waveBehind();
            opacity: 0.4;
            animation: topWaveMovementContinue 12s linear infinite;
        }

        &::after {
            @include waveBehind();
            opacity: 0.6;
            animation: topWaveMovementContinue 13s linear infinite;
            animation-delay: -5000ms;
        }
    }

    @keyframes topWaveMovement {
        0% {
            background-position: 0;
        }

        100% {
            background-position: 1360px;
        }
    }

    @keyframes topWaveMovementContinue {
        0% {
            background-position: 1360px;
        }

        100% {
            background-position: 0;
        }
    }

    // Bottom Wave

    .bottom-wave {
        z-index: 0;
        box-sizing: border-box;
        width: 100%;
        position: relative;
        height: 143px;
        top: 0;
    }

    // Main content for About section

    .about-content {
        background-color: #fff;
        padding: 3% 5%;
        color: $burningOrange;

        h2 {
            margin: 1.5rem 0 6rem 0;
        }

        .description {
            margin-bottom: 2rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            p {
                width: 80%;
                margin-top: 5rem;
                margin-right: auto;
                display: inline-block;
                font-size: 1.9rem;
                margin: 2.5rem auto;
            }

            img.profile-pic {
                display: inline-block;
                width: 8.5rem;
                height: 8.5rem;
                border-radius: 50%;
                margin: 0 auto;
            }
        }

        a.btn {
            border: 1.5px solid $burningOrange;
            color: $burningOrange;
            font-weight: 500;
            font-size: 1.2rem;

            &:hover {
                background: $burningOrange;
                color: #fff;
            }
        }

        // Blobs

        .about-blob-one {
            z-index: 0;
            width: 19rem;
            top: 20%;
            left: 3%;

            animation: blobMovementOne 3500ms infinite;
        }

        @keyframes blobMovementOne {
            0% {
                transform: scale(1.05);
                top: 21%;
            }

            50% {
                transform: scale(1);
                top: 20%;
            }

            100% {
                transform: scale(1.05);
                top: 21%;
            }
        }

        .about-blob-two {
            z-index: 10;
            width: 15rem;
            bottom: 8%;
            right: 3%;

            animation: blobMovementTwo 3500ms infinite;
        }
        
        @keyframes blobMovementTwo {
            0% {
                transform: scale(1.05);
                bottom: 9%;
            }

            50% {
                transform: scale(1);
                bottom: 8%;
            }

            100% {
                transform: scale(1.05);
                bottom: 9%;
            }
        }
    }
}