@import "./variable", "./mixin";

.error {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, rgb(211, 16, 39), rgb(234, 56, 77));

    .error-body {
        max-width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 92vh;
        overflow: hidden;

        h1 {
            font-size: 7ch;
            margin: 0 auto 1.8rem;
        }

        p {
            font-family: "Raleway", sans-serif;
            color: rgba(white, 0.8);

            &.error-msg {
                font-size: 2.5ch;
                margin: 0;
            }

            &.option-msg {
                font-size: 2.2ch;
                display: inline-block;
                margin-top: 0;
            }
        }

        .try-again {
            padding: 0;
            margin-top: 1rem;

            button[type=submit] {
                margin-left: 0.1rem;
                padding: 0;
                cursor: pointer;
                font-family: "Raleway", sans-serif;
                font-size: 2.2ch;
                border: none;
                background: none;
                color: rgba(white, 0.8);
                border-bottom: 2px solid rgba(white, 0.8);
            }
        }

        .btn.return-btn {
            margin-top: 1.1rem;
            cursor: pointer;
            border-radius: 0.3rem;
            border: 1px solid rgba(white, 0.8);
            background: none;
            padding: 0.4rem 0.5rem; 
            color: rgba(white, 0.8);
            font-family: "Montserrat", sans-serif;
            font-size: 1.5ch;

            transition: color 200ms linear, background 200ms linear;

            &:hover {
                color: $burningOrange;
                background: rgba(white, 0.8);
            }
        }
    }
}