@import "./variable", "./mixin";

.head-container {
    margin: 0 0 9rem 0;

    // General

    h1 {
        margin: 0 0 0.8rem;
    }

    p {
        color: $seeThroughWhite;
    }

    a {
        color: #fff;
    }

    // Switch

    .switch-box {
        position: relative;
        margin: 6rem auto 0;
        border: 3px solid $seeThroughWhite;
        border-radius: 0.8rem;
        width: 1.3rem;
        height: 2.8rem;

        .switch-circle {
            position: absolute;
            left: 0;
            width: 1.3rem;
            height: 1.3rem;
            color: #fff;
            background: #fff;
            border-radius: 50%;
        }

        .click-switch-circle {
            transition: bottom 2000ms ease-in;
            bottom: 0;
        }

        .switch-circle-smooth-return {
            transition: top 2000ms ease-in;
            top: 0;
        }
    }

    .switch-bg {
        transition: background 200ms linear;
        background-color: $seeThroughWhite;
    }

    // Typing Effect

    .description {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .text {
        margin-left: 6px;
        color: $seeThroughWhite;
    }

    .cursor {
        display: inline-block;
        background: white;
        width: 1px;
        animation: blinkCursor 700ms infinite;
    }

    @keyframes blinkCursor {
        0% {
            background: white;
        }

        49% {
            background: white;
        }

        50% {
            background: transparent;
        }

        99% {
            background: transparent;
        }

        100% {
            background: white;
        }
    }

    .cursor-typing {
        animation: none;
    }
}