@import "./variable";

.head-container {
    h1 {
        margin: 0 0 0.8rem;
    }

    p {
        color: $seeThroughWhite;
    }

    a {
        color: #fff;
    }

    .switch-box {
        position: relative;
        margin: 3.5rem auto 0;
        border: 3px solid $seeThroughWhite;
        border-radius: 0.8rem;
        width: 1.3rem;
        height: 2.8rem;

        .switch-circle {
            position: absolute;
            left: 0;
            width: 1.3rem;
            height: 1.3rem;
            color: #fff;
            background: #fff;
            border-radius: 50%;
        }

        .click-switch-circle {
            transition: bottom 2000ms ease-in;
            bottom: 0;
        }

        .switch-circle-smooth-return {
            transition: top 2000ms ease-in;
            top: 0;
        }
    }

    .description {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .text-delete {
        margin-left: 6px;
        color: $seeThroughWhite;
    }

    .text-delete::after {
        content: "";
        border-right: 2px solid white;
        animation: blinkCursor 800ms infinite;
    }

    @keyframes blinkCursor {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}