@import "./variable", "./mixin";

.navbar-scroll {
    transition: background 500ms ease-in;
    background: $seeThroughBlack;
}

.navbar {
    padding: 1rem 0;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;

    margin-bottom: 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: $seeThroughWhite;

    // Navbar Logo

    .logo {
        font-size: 2.5ch;
        margin: 0 2rem;
        color: $seeThroughWhite;

        &:hover {
            color: #fff;
        }

        &:active {
            color: $seeThroughWhite;
        }
    }

    // Navbar unordered list

    .navbar-links {
        ul {
            margin: 0;
            padding: 0;

            display: flex;

            li {
                list-style: none;

                a {
                    color: $seeThroughWhite;
                    padding: 0 1rem;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}

// Hamburger Menu

.hamburger {
    cursor: pointer;

    position: absolute;
    top: 1.3rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 21px;

    .bar {
        height: 3px;
        width: 100%;
        background: rgba(white, 0.5);

        .bar-one:active, .bar-two:active, .bar-three:active {
            animation: hamburgerCross 500ms ease-in;
        }

        @keyframes hamburgerCross {
            0% {    
                .bar-one {
                    transform: rotate(0deg);
                }

                .bar-three {
                    transform: rotate(0deg);
                }
            }

            100% {
                .bar-one {
                    transform: rotate(90deg);
                }

                .bar-three {
                    transform: rotate(-90deg);
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .hamburger {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        display: none;
        width: 100%;

        ul {
            flex-direction: column;
            width: 100%;

            li {
                text-align: center;
                margin: 0.5rem 0;
            }
        }

        &.burger-active {
            display: flex;
        }
    }
}