@import "./variable", "./mixin";

::-webkit-scrollbar {
    width: 10px;
    background: #e8e8e8;
}

::-webkit-scrollbar-track {
    // border: 2px solid #313131;
    // border-width: 0 0 0 2px;
    border: 1px solid #3f3d56;
}

::-webkit-scrollbar-thumb {
    background: #3f3d56;
    border-radius: 5px;
}

