$seeThroughBlack: rgba(0, 0, 0, 0.6);
$seeThroughWhite: rgba(255, 255, 255, 0.6);

$flareBgColor: linear-gradient(to right, rgb(241, 39, 17), rgb(245, 175, 25));
$burningOrangeBgColor: linear-gradient(to right, rgb(255, 65, 108), rgb(255, 75, 43));
