.head-container {
  margin: 0 0 9.5rem 0;
}

.head-container h1 {
  margin: 0 0 0.8rem;
}

.head-container p {
  color: rgba(255, 255, 255, 0.6);
}

.head-container a {
  color: #fff;
}

.head-container .switch-box {
  position: relative;
  margin: 6rem auto 0;
  border: 3px solid rgba(255, 255, 255, 0.6);
  border-radius: 0.8rem;
  width: 1.3rem;
  height: 2.8rem;
}

.head-container .switch-box .switch-circle {
  position: absolute;
  left: 0;
  width: 1.3rem;
  height: 1.3rem;
  color: #fff;
  background: #fff;
  border-radius: 50%;
}

.head-container .switch-box .click-switch-circle {
  -webkit-transition: bottom 2000ms ease-in;
  transition: bottom 2000ms ease-in;
  bottom: 0;
}

.head-container .switch-box .switch-circle-smooth-return {
  -webkit-transition: top 2000ms ease-in;
  transition: top 2000ms ease-in;
  top: 0;
}

.head-container .switch-bg {
  -webkit-transition: background 200ms linear;
  transition: background 200ms linear;
  background-color: rgba(255, 255, 255, 0.6);
}

.head-container .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.head-container .text {
  margin-left: 6px;
  color: rgba(255, 255, 255, 0.6);
}

.head-container .cursor {
  display: inline-block;
  background: white;
  width: 1px;
  -webkit-animation: blinkCursor 700ms infinite;
          animation: blinkCursor 700ms infinite;
}

@-webkit-keyframes blinkCursor {
  0% {
    background: white;
  }
  49% {
    background: white;
  }
  50% {
    background: transparent;
  }
  99% {
    background: transparent;
  }
  100% {
    background: white;
  }
}

@keyframes blinkCursor {
  0% {
    background: white;
  }
  49% {
    background: white;
  }
  50% {
    background: transparent;
  }
  99% {
    background: transparent;
  }
  100% {
    background: white;
  }
}

.head-container .cursor-typing {
  -webkit-animation: none;
          animation: none;
}

.navbar-scroll {
  -webkit-transition: background 500ms ease-in;
  transition: background 500ms ease-in;
  background: rgba(0, 0, 0, 0.6);
}

nav {
  padding: 0.8rem 4rem;
  margin: 0 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

nav ul {
  list-style: none;
  padding: 0;
  display: inline-block;
  margin-left: auto;
}

nav ul li {
  display: inline;
  margin: 0 0.8rem;
}

nav li.active a {
  color: #fff;
}

nav a.nav-link {
  color: rgba(255, 255, 255, 0.6);
}

nav .logo {
  font-size: 2.5ch;
  color: rgba(255, 255, 255, 0.6);
}

nav .nav-link {
  font-size: 1.8ch;
}

#about {
  position: relative;
}

#about .top-wave {
  width: 100%;
  position: absolute;
}

#about .top-wave {
  height: 143px;
  top: 0;
  background: url("../images/about-top-wave.png");
  -webkit-animation: topWaveMovement 10s linear infinite;
          animation: topWaveMovement 10s linear infinite;
}

#about .top-wave::before {
  content: "";
  width: 100%;
  height: 143px;
  background: url("../images/about-top-wave.png");
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  -webkit-animation: topWaveMovementContinue 10s linear infinite;
          animation: topWaveMovementContinue 10s linear infinite;
}

#about .top-wave::after {
  content: "";
  width: 100%;
  height: 143px;
  background: url("../images/about-top-wave.png");
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  -webkit-animation: topWaveMovementContinue 11s linear infinite;
          animation: topWaveMovementContinue 11s linear infinite;
  -webkit-animation-delay: -5000ms;
          animation-delay: -5000ms;
}

@-webkit-keyframes topWaveMovement {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1360px;
  }
}

@keyframes topWaveMovement {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1360px;
  }
}

@-webkit-keyframes topWaveMovementContinue {
  0% {
    background-position: 1360px;
  }
  100% {
    background-position: 0;
  }
}

@keyframes topWaveMovementContinue {
  0% {
    background-position: 1360px;
  }
  100% {
    background-position: 0;
  }
}

body {
  -webkit-transition: opacity 500ms ease-in 100ms;
  transition: opacity 500ms ease-in 100ms;
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0;
  background: -webkit-gradient(linear, left top, right top, from(#ff416c), to(#ff4b2b));
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  color: #fff;
}

h1 {
  font-size: 7ch;
}

p {
  font-size: 3ch;
}

a {
  text-decoration: none;
}

img {
  width: 8rem;
  height: 8rem;
}
/*# sourceMappingURL=main.css.map */