@import "./head", "./navbar", "./about", "./projects", "./contact", "./footer", "./scrollbar", "./error", "./success", "./variable", "./mixin";

body {
    transition: opacity 500ms ease-in 100ms;
    opacity: 1;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 0;
    background: $burningOrangeBgColor;
    color: #fff;
    overflow-x: hidden;
}

.body-container {
    position: relative;
}

h1 {
    font-size: 7ch;
}

h2 {
    font-size: 6ch;
}

h3 {
    font-size: 3.5ch;
}

p {
    font-size: 3ch;
}

a {
    text-decoration: none;
}

img {
    width: 8rem;
    height: 8rem;
}

.bold {
    font-weight: 600;
}

a.btn {
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background 300ms ease-in;
}

.blob {
    position: absolute;
}