.head-container {
  margin: 0 0 9.5rem 0;
}

.head-container h1 {
  margin: 0 0 0.8rem;
}

.head-container p {
  color: rgba(255, 255, 255, 0.6);
}

.head-container a {
  color: #fff;
}

.head-container .switch-box {
  position: relative;
  margin: 6rem auto 0;
  border: 3px solid rgba(255, 255, 255, 0.6);
  border-radius: 0.8rem;
  width: 1.3rem;
  height: 2.8rem;
}

.head-container .switch-box .switch-circle {
  position: absolute;
  left: 0;
  width: 1.3rem;
  height: 1.3rem;
  color: #fff;
  background: #fff;
  border-radius: 50%;
}

.head-container .switch-box .click-switch-circle {
  -webkit-transition: bottom 2000ms ease-in;
  transition: bottom 2000ms ease-in;
  bottom: 0;
}

.head-container .switch-box .switch-circle-smooth-return {
  -webkit-transition: top 2000ms ease-in;
  transition: top 2000ms ease-in;
  top: 0;
}

.head-container .switch-bg {
  -webkit-transition: background 200ms linear;
  transition: background 200ms linear;
  background-color: rgba(255, 255, 255, 0.6);
}

.head-container .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.head-container .text {
  margin-left: 6px;
  color: rgba(255, 255, 255, 0.6);
}

.head-container .cursor {
  display: inline-block;
  background: white;
  width: 1px;
  -webkit-animation: blinkCursor 700ms infinite;
          animation: blinkCursor 700ms infinite;
}

@-webkit-keyframes blinkCursor {
  0% {
    background: white;
  }
  49% {
    background: white;
  }
  50% {
    background: transparent;
  }
  99% {
    background: transparent;
  }
  100% {
    background: white;
  }
}

@keyframes blinkCursor {
  0% {
    background: white;
  }
  49% {
    background: white;
  }
  50% {
    background: transparent;
  }
  99% {
    background: transparent;
  }
  100% {
    background: white;
  }
}

.head-container .cursor-typing {
  -webkit-animation: none;
          animation: none;
}

.navbar-scroll {
  -webkit-transition: background 500ms ease-in;
  transition: background 500ms ease-in;
  background: rgba(0, 0, 0, 0.6);
}

nav {
  padding: 0.8rem 4rem;
  margin: 0 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

nav ul {
  list-style: none;
  padding: 0;
  display: inline-block;
  margin-left: auto;
}

nav ul li {
  display: inline;
  margin: 0 0.8rem;
}

nav li.active a {
  color: #fff;
}

nav a.nav-link {
  color: rgba(255, 255, 255, 0.6);
}

nav .logo {
  font-size: 2.5ch;
  color: rgba(255, 255, 255, 0.6);
}

nav .nav-link {
  font-size: 1.8ch;
}

#about {
  position: relative;
}

#about .top-wave {
  width: 100%;
  position: relative;
  height: 143px;
  top: 0;
  background: url("../images/about-top-wave.png");
  -webkit-animation: topWaveMovement 10s linear infinite;
          animation: topWaveMovement 10s linear infinite;
}

#about .top-wave::before {
  content: "";
  width: 100%;
  height: 143px;
  background: url("../images/about-top-wave.png");
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  -webkit-animation: topWaveMovementContinue 12s linear infinite;
          animation: topWaveMovementContinue 12s linear infinite;
}

#about .top-wave::after {
  content: "";
  width: 100%;
  height: 143px;
  background: url("../images/about-top-wave.png");
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  -webkit-animation: topWaveMovementContinue 13s linear infinite;
          animation: topWaveMovementContinue 13s linear infinite;
  -webkit-animation-delay: -5000ms;
          animation-delay: -5000ms;
}

@-webkit-keyframes topWaveMovement {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1360px;
  }
}

@keyframes topWaveMovement {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1360px;
  }
}

@-webkit-keyframes topWaveMovementContinue {
  0% {
    background-position: 1360px;
  }
  100% {
    background-position: 0;
  }
}

@keyframes topWaveMovementContinue {
  0% {
    background-position: 1360px;
  }
  100% {
    background-position: 0;
  }
}

#about .bottom-wave {
  z-index: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  position: relative;
  height: 143px;
  top: 0;
}

#about .about-content {
  background-color: #fff;
  padding: 3% 5%;
  color: #ff464b;
}

#about .about-content h2 {
  margin: 1.5rem 0 6rem 0;
}

#about .about-content .description {
  margin-bottom: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#about .about-content .description p {
  width: 80%;
  margin-top: 5rem;
  margin-right: auto;
  display: inline-block;
  font-size: 1.9rem;
  margin: 2.5rem auto;
}

#about .about-content .description img.profile-pic {
  display: inline-block;
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
  margin: 0 auto;
}

#about .about-content a.btn {
  border: 1.5px solid #ff464b;
  color: #ff464b;
  font-weight: 500;
  font-size: 1.2rem;
}

#about .about-content a.btn:hover {
  background: #ff464b;
  color: #fff;
}

#about .about-content .about-blob-one {
  z-index: 0;
  width: 19rem;
  top: 20%;
  left: 3%;
  -webkit-animation: blobMovementOne 3500ms infinite;
          animation: blobMovementOne 3500ms infinite;
}

@-webkit-keyframes blobMovementOne {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    top: 21%;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    top: 20%;
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    top: 21%;
  }
}

@keyframes blobMovementOne {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    top: 21%;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    top: 20%;
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    top: 21%;
  }
}

#about .about-content .about-blob-two {
  z-index: 10;
  width: 15rem;
  bottom: 8%;
  right: 3%;
  -webkit-animation: blobMovementTwo 3500ms infinite;
          animation: blobMovementTwo 3500ms infinite;
}

@-webkit-keyframes blobMovementTwo {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    bottom: 9%;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    bottom: 8%;
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    bottom: 9%;
  }
}

@keyframes blobMovementTwo {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    bottom: 9%;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    bottom: 8%;
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    bottom: 9%;
  }
}

#projects {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

#projects h2 {
  margin: 5rem 0 0;
}

#projects h3 {
  margin: 0 0 1rem 0;
}

#projects p {
  margin: 2rem 0 7rem 0;
}

#projects hr {
  margin: 6rem auto;
  width: 10%;
  border-style: dotted;
  border-width: 0 0 0.5rem 0;
  border-color: rgba(255, 255, 255, 0.6);
}

#projects .project-container.right {
  padding: 0 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .project-container.right img {
  display: inline-block;
  width: 23rem;
  height: 12rem;
  margin-right: 3rem;
}

#projects .project-container.right .project-container-body {
  margin-left: 1.5rem;
  text-align: left;
}

#projects .project-container.right .project-container-body p {
  display: inline-block;
  margin: 0 0 1.5rem 0;
  font-size: 1.3rem;
}

#projects .project-container.right .project-container-body p.site-description {
  margin: 0 0 0.5rem 0;
  font-size: 1.45rem;
  font-weight: 500;
}

#projects .project-container.right .project-container-body p.lang-used,
#projects .project-container.right .project-container-body p .lang {
  color: rgba(255, 255, 255, 0.8);
}

#projects .project-container.right .project-container-body a {
  display: inline-block;
  color: white;
  font-size: 1.3rem;
  border: 1px solid white;
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
  margin: 0 0.8rem 0 0;
}

#projects .project-container.right .project-container-body a.btn {
  -webkit-transition: color 200ms linear;
  transition: color 200ms linear;
}

#projects .project-container.right .project-container-body a.btn:hover {
  background: white;
  color: #ff464b;
}

@-webkit-keyframes projectBtnHover {
  0% {
    background: transparent;
    color: white;
  }
  100% {
    background: white;
    color: #ff464b;
  }
}

@keyframes projectBtnHover {
  0% {
    background: transparent;
    color: white;
  }
  100% {
    background: white;
    color: #ff464b;
  }
}

#projects .project-container.left {
  padding: 0 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .project-container.left img {
  display: inline-block;
  width: 23rem;
  height: 12rem;
  margin-left: 3rem;
}

#projects .project-container.left .project-container-body {
  margin-right: 1.5rem;
  text-align: right;
}

#projects .project-container.left .project-container-body p {
  display: inline-block;
  margin: 0 0 1.5rem 0;
  font-size: 1.3rem;
}

#projects .project-container.left .project-container-body p.site-description {
  margin: 0 0 0.5rem 0;
  font-size: 1.45rem;
  font-weight: 500;
}

#projects .project-container.left .project-container-body p.lang-used,
#projects .project-container.left .project-container-body p .lang {
  color: rgba(255, 255, 255, 0.8);
}

#projects .project-container.left .project-container-body a {
  display: inline-block;
  color: white;
  font-size: 1.3rem;
  border: 1px solid white;
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
  margin: 0 0 0 0.8rem;
}

#projects .project-container.left .project-container-body a.btn {
  -webkit-transition: color 200ms linear;
  transition: color 200ms linear;
}

#projects .project-container.left .project-container-body a.btn:hover {
  background: white;
  color: #ff464b;
}

@keyframes projectBtnHover {
  0% {
    background: transparent;
    color: white;
  }
  100% {
    background: white;
    color: #ff464b;
  }
}

#projects .left img,
#projects .right img {
  border: 1px solid white;
}

#contact {
  color: #ff464b;
  background: white;
  padding: 3% 5%;
  position: relative;
}

#contact .contact-body h2 {
  margin: 3rem 0 0;
}

#contact .contact-body form {
  background: #3f3d56;
  display: inline-block;
  margin: 2rem 0 0;
  padding: 4rem 3rem;
  border-radius: 0.5rem;
}

#contact .contact-body form .field {
  display: block;
  margin-bottom: 1.5rem;
}

#contact .contact-body form .field.bottom-field {
  margin-bottom: 2rem;
}

#contact .contact-body form .field input {
  border-radius: 0.3rem;
  padding: 0.6rem 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  border-bottom: 2px solid #ff464b;
  border: 1px solid white;
}

#contact .contact-body form .field input:focus {
  outline: none;
}

#contact .contact-body .btn {
  font-family: "Montserrat", sans-serif;
  display: block;
  margin: 0 auto;
  padding: 0.6rem 0.8rem;
  font-weight: 500;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  background: #ff464b;
  border: none;
  border-radius: 0.3rem;
  width: 100%;
}

#contact .contact-bottom-wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2.4rem;
}

body {
  -webkit-transition: opacity 500ms ease-in 100ms;
  transition: opacity 500ms ease-in 100ms;
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0;
  background: -webkit-gradient(linear, left top, right top, from(#ff416c), to(#ff4b2b));
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  color: #fff;
}

h1 {
  font-size: 7ch;
}

h2 {
  font-size: 6ch;
}

h3 {
  font-size: 3.5ch;
}

p {
  font-size: 3ch;
}

a {
  text-decoration: none;
}

img {
  width: 8rem;
  height: 8rem;
}

.bold {
  font-weight: 600;
}

a.btn {
  padding: 0.5rem;
  border-radius: 0.5rem;
  -webkit-transition: background 300ms ease-in;
  transition: background 300ms ease-in;
}

.blob {
  position: absolute;
}
/*# sourceMappingURL=main.css.map */